#SERVICE_PORT=32779

## If both TLS certificate and private key are provided, enable HTTPS,
## otherwise serve via plain HTTP.
TLS_CERT=
TLS_PKEY=

## http request timeout
#READ_TIMEOUT=60
## http response timeout
#WRITE_TIMEOUT=60
## authenticated session timeout after (max 3600 seconds)
#IDLE_TIMEOUT=300
## maximum session lifetime (cannot exceeds 86400 seconds)
#SESSION_LIFE=3600

## /query cannot spend more than QUERY_TIMEOUT seconds, unless it is set
## to 0, otherwise an HTTP/500 error will be returned.
#QUERY_TIMEOUT=0
## /query cannot return more than QUERY_MAXROWS data items, unless it is set
## to 0, otherwise an HTTP/500 error will be returned.
#QUERY_MAXROWS=0

## If not specified, restique stores user data in ./restique_auth.json
AUTH_PATH=

## If not specified, restique stores DSN info in ./restique_dsns.json
DSN_PATH=

## LOGS are stored in LOG_PATH/<date>.log. If not specified, LOG_PATH=./logs
LOG_PATH=

## Log files older than LOG_ROTATE days will be automatically removed. By
## default, LOG_ROTATE is 0 which means this feature is disabled.
LOG_ROTATE=0

## OTP specific settings
#OTP_DIGITS=6
#OTP_ISSUER=restique
#OTP_TIMEOUT=30

## Define CIDRs (in CSV format) to control access by remote IP. By default
## all IPs are allowed.
#CLIENT_CIDRS=